# Database Configuration
POSTGRES_DB=akademik_db
POSTGRES_USER=nusantara_user
POSTGRES_PASSWORD=khaliz123

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=khaliz123
MINIO_BUCKET_NAME=akademik-files

# Application
APP_PORT=3000
NODE_ENV=development
